In [1]:
import os, json
import pandas as pd
import numpy as np
import glob
pd.set_option('display.max_columns', None)

In [2]:
%cd c:/users/Dell/Desktop/test/

c:\users\Dell\Desktop\test

In [3]:
new_df = pd.read_csv('stock_data.csv') #reading data

In [4]:
for i in new_df.index: #loop for generating seprate jsons for each row
    new_df.loc[i].to_json("row{}.json".format(i))

In [5]:
temp = pd.DataFrame() #Created a blank dataframe

path_to_json = 'c:/users/Dell/Desktop/test/'  #Declared variable with jsons path

In [6]:
json_pattern = os.path.join(path_to_json,'*.json')
file_list = glob.glob(json_pattern)

dfs = [] # an empty list to store the data frames
for file in file_list:
    data = pd.read_json(file, lines=True) # read data frame from json file
    dfs.append(data) # append the data frame to the list

temp = pd.concat(dfs, ignore_index=True) # concatenate all the data frames in the list.

In [7]:
temp[['X79']] #Dispalying only X79 column

             X79
0     100.000000
1      91.611045
2     101.143948
3     167.302600
4     137.853404
...          ...
2995  128.000195
2996  132.423462
2997  136.328139
2998  134.955401
2999  133.735190

[3000 rows x 1 columns]